a2a-sdk==0.3.5
acp-sdk==1.0.3
mcp==1.14.0
crewai==0.186.1
crewai-tools==0.71.0
litellm[proxy]
fastapi>=0.115.12
uvicorn[standard]>=0.34.2
ollama>=0.5.1
python-dotenv>=1.1.0
requests>=2.32.3
nest-asyncio>=1.6.0
duckduckgo-search>=8.0.2
sentence-transformers>=3.0.1
colorama>=0.4.6

pydantic==2.8.2
pydantic-core==2.20.1
typing_extensions
typing_inspection
annotated_types
certifi
httpx
idna
aiohttp
multidict
attrs
yarl
propcache
aiohappyeyeballs
aiosignal
frozenlist
fastuuid
openai
sniffio
anyio
distro
pyyaml
jinja2
markupsafe
httpcore
h11
tiktoken
regex
tokenizers
packaging
click
Pillow
json_repair
numpy
chromadb
portalocker
embedchain
docker
langchain_huggingface
sentence-transformers
ddgs
smolagents[mcp]